<!DOCTYPE html>
<html>
<head>
<title>ADD SONG</title>
<link rel=stylesheet type=text/css th:href="@{/newsong.css}">
<style>
body {
    background-image: url('/newsong.png');
    background-size: 70%;
    animation: slideBackground 10s linear infinite; /* Apply the animation to the background image */
}

@keyframes slideBackground {
    0% {
        background-position: 0% 0%; /* Starting position */
    }
    100% {
        background-position: 100% 100%; /* Ending position */
    }
}
</style>

</head>
<body>
<h2>ADD SONGS</h2>
	<form action="addsong" method="post">
		<label>Song Name:</label>
	    <input type="text" name="name">
		<br><br>
		
		<label> Song Artist:</label>
		<input type="text"name="artist">
		<br><br> 
		
		<label> Song Genre:</label>
	    <input type="text"name="genre">
	    <br><br>
	    
	    <label>Song link:</label>
	    <input type="text"name="link"> 
	    <br><br>
	    
	    <input type="submit" value="ADD SONGS">
	</form>

</body>
</html>